.beerTab{
    @include flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: flex-start;
    @include margb(60px);

    &__find{
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-self: end;
        margin-right: 20px;

            .search__field{
                background-color: $bloodRed;  
                height: 30px;
                padding:0px 5px 5px 5px;
                letter-spacing: 1.5px;
                border-radius: 10px;
                border: 1px black solid;
                @include font($Oswald,400,18px,18px,white);
                @include media($mobile){
                    height: 20px;
                    width: 100px;
                    font-size: 9px;
                    padding-top: 5px;
                }

                &:focus{
                    background-color: lightblue;
                    border: 1px $blueBtn solid;
                    color:#620217;
                }

                & input{
                border-radius: 5px;
                }
            }
            &--button{
                margin-left: 5px;
            }

            & svg{
                width: 22px;
                height: 22px;
            }

    }
    &__h{
        @include font($Agbalumo,400,34px,34px,$brown);
        margin:30px 0 20px;
        text-shadow: 1px 1px 2px pink;

        @include media($table){
            margin: 10px 0 10px;
            font-size: 25px;
        }
        
    }
    &__img{
        position: relative;
        width: 200px;
        height: 300px;
        cursor: zoom-in;
        @include media($mobile){
            width: 100px;
            height: 150px;
        }
        &--cross{
            position: absolute;
            top:10px;
            right: 10px;
            border-radius: red;
            @include flex;
            cursor: pointer;
            @include media($mobile){
                top:5px;
                right: 5px;
            }
        }
        & svg{
            width: 20px;
            height: 20px;
        }
        & img{
            border-radius: 10px;
            width: 100%;
            height:100%;
        }
    }
    &__title{
        width: 100%;
        display: grid;
        grid-template: 1fr / repeat(8, minmax(20px, 1fr));
        gap:10px;
        &--item{
            @include flex;
            margin: 20px auto 20px;
            @include font($Agbalumo,400,24px,24px,$bloodRed);

            @include media($table){
                font-size: 18px;
            }
            @include media($mobile){
                font-size: 10px;
                margin: 5px 0px 5px 5px;
                line-height: 15px;
            }
            &:hover{
                color:$blueBtn;
                cursor: pointer;
            }
        }

    }
    &__person{
        display: grid;
        width: 100%;
        grid-template: 1fr / repeat(8, minmax(21px, 1fr));
        @include margb(10px);
        gap: 10px;
        @include media($mobile){
            @include margb(5px)
        }
        &--name{
            @include flex;
            @include font($Agbalumo,400,14px,14px,black);

            @include media($table){
                font-size: 14px;
            }
            @include media($mobile){
                font-size: 8px;
                line-height: 10px;
                
            }
        }
        
       &--name:first-child{
            grid-column: 5/6;
        }
        &--name:nth-child(2){
            grid-column: 6 / 7;
        }
        &--name:nth-child(3){
            grid-column: 7 / 8;
        }
        .name-score{
            justify-content: flex-start;
            cursor: pointer;
            &:hover{
                color:red;
            }
        }
            
    }
    &__body{
        width: 100%;
        display: grid;
        grid-template: 1fr / repeat(8,  minmax(35px, 1fr));
        &:nth-child(even){
            background-color: burlywood;
            border-left:2px $blueBtn solid;
            border-right: 2px $blueBtn solid;
        }
        &:nth-child(odd){
            border-left:2px burlywood solid;
            border-right: 2px burlywood solid;
        }
        &--item{
            padding: 10px;
            width: 100%;
            display: flex;
            @include flex;
            @include font($Agbalumo,400,14px,14px,$bloodRed);
            @include media($table){
                font-size: 12px;
            }
            @include media($mobile){
                font-size: 9px;
                padding: 0px;
            }


            .name{
                min-width: 25px;
                @include flex;
                @include media($mobile){
                    min-width: 10px;
                }
            }
        }  
        .body-name{
            justify-content: flex-start;
            font-size: 16px;
            word-break: break-word;
            @include media($table){
                font-size: 12px;
            }
            @include media($mobile){
                font-size:7px;
                word-wrap:normal;
                padding-left: 3px;
            }

            &:hover{
                cursor: pointer;
                color:$blueBtn;
            }
        }
        .score{
            margin: 5px;
            margin-bottom: 5px;
            width: 30px;
            height: 30px;
            @include flex;
            border-radius: 50%;
            background-color: black;
            @include font($Agbalumo,400,14px,14px,red);
            @include media($table){
                width: 25px;
                height: 25px;
            }
            @include media($mobile){
                width: 20px;
                height: 20px;
                font-size: 10px;
            }
        }
    }

}