.conteiner{
    @include conteiner(1200px);
}
.beerTab{
    @include flex;
    flex-direction: column;
    &__h{
        @include font($Agbalumo,400,34px,34px,$brown);
        margin:30px 0 20px;
        text-shadow: 1px 1px 2px pink;
    }
    &__body{
        display: grid;
        grid-template: repeat(auto, 1fr) / repeat(9, 1fr);
        width: 100%;
        
        &--title{
            background-color: red;
            grid-row: 0/1;
            @include flex;
            flex-wrap: wrap;
            border: 1px black solid;
        }
        &--person{
            background-color: aqua;
            @include flex;
            border: 1px black solid;
        }
        .double-section{
                grid-column: span 2;
                background-color: grey;
            }
        .start{
            grid-column: 4;
        }
        &--main{
            background-color: blue;
            grid-row-start: 3;
        }
    }
}