.conteiner{
    @include conteiner(1200px);
}
.beerTab{
    @include flex;
    flex-direction: column;
    &__h{
        @include font($Agbalumo,400,34px,34px,$brown);
        margin:30px 0 20px;
        text-shadow: 1px 1px 2px pink;
    }
    &__body{
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(5, 1fr);
        width: 100%;
        
        &--title{
            background-color: red;
            grid-column: 1/-1;
            grid-row: 1/2;
        }
        &--main{
            background-color: blue;
            // grid-column: 1/-1;
            grid-row: 2/-1;
        }

        .BTT__item{
            border: 1px black solid;
        }
    }
}