$desk:1024px;
$table:900px;
$mobile:665px;


$white:#FFFFFF;
$grey:#999999;
$black:#000000;
$blue:#5373FD;
$brown: #333333;
$bloodRed:#880808;
$blueBtn:#0b76ef;

$Agbalumo:"Agbalumo", sans-serif;
$Oswald: 'Oswald', sans-serif;